---
name: Test

on:
  workflow_run:
    workflows:
      - Preflight
    types:
      - completed

env:
  GH_BRANCH: ${{ github.event.workflow_run.head_branch }}

jobs:
  test-job:
    name: Test Step
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.workflow_run.head_branch }}
      - run: git branch
      - run: env
      - run: echo "this is a tag :-)"
        if: (startsWith(env.GH_BRANCH, 'refs/tags/')
